body {
	background: #F1F1F1;
}

body h1 {
	font-family: 'Lobster', cursive;
	margin: 50px 20px 40px;
	font-size: 50px;
	letter-spacing: 0.5px;
	color: #999999;
	text-align: center;
}

.rating-content {
	margin: 0 auto;
	padding: 30px 40px;
	border: 1px solid #CCCCCC;
	background: #ffffff30;
}

.rating {
	display: flex;
	flex-direction: row-reverse;
}

.rating label {
	position: relative;
	cursor: pointer;
	margin: 0 5px;
}

.rating label:not(:first-of-type) {
	padding-right: 2px;
}

.rating label:before {
	content: "✭";
	font-size: 60px;
	color: #CCCCCC;
	line-height: 1;
}

.rating input {
	display: none;
}

.rating input:checked~label:before,
.rating:not(:checked)>label:hover:before,
.rating:not(:checked)>label:hover~label:before {
	color: #F9DF4A;
}

.rating.block {
	pointer-events: none;
}

.message {
	text-align: center;
	color: #fff;
}